# OS
.DS_Store

# Rust
/target/
**/target/

# Node
node_modules/
**/node_modules/
dist/
**/dist/

# Python
*.pyc
__pycache__/

# Env & local config
.env
**/.env
.env.local
**/.env.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor
.idea/
*.swp
.history/
.fleet/

*.ssh
id_rsa
id_rsa.pub
# SSH keys and directories
.ssh/
**/.ssh/
id_ed25519
id_ed25519.pub
#github
*.github
*.vscode
~/gm_ml 

